.collapsible {
    background-color: #A7A7A7;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #512888;
    color: white;
  }
  
  .content {
    padding: 0 18px;
    /* max-height: 0; */
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  #menu {
    background: #002569;
    height: 50px;
  }

  #menu_list {
    list-style-type: none;
    display: inline-block;
    top: -20px;
    position: relative;
  }

  #menu_list li {
    display: inline-block;
    color: white;
    margin-right: 15px;
  }

  #kda_logo {
    height: 40px;
    margin: 5px;
  }